@media (max-width: 1185px){
   .smart__services{
    padding-left: 150px;
   }
}

@media(max-width:1150px){
   .smart{
      background-position:bottom -1px right -70px;
   }
   .smart__services{
      padding-right: 125px;
   }
}

@media(max-width:1126px){
   .smart{
      background-size:1270px 600px;
   }
}

@media(max-width:1106px){
   .smart{
      background-size:1245px 600px;
   }
   .smart__services{
      padding-right: 112px;
   }
}

@media(max-width:1080px){
   .smart{
      background-size:1211px 600px;
   }
   .smart__services{
      padding-right: 105px;
   }
}

@media(max-width:1050px){
   .smart{
      background-size:1177px 600px;
   }
}

@media(max-width:1020px){
   .smart{
      background-size:1131px 600px;
   }
   .smart__services{
      padding-right: 92px;
   }
}

@media(max-width:990px){
   .smart{
      background-size:1095px 600px;
   }
   .smart__services{
      padding-right: 92px;
   }
}

@media(max-width:960px){
   .smart{
      background-size:1057px 600px;
   }
   .smart__services{
      padding-right: 75px;
   }
}

@media(max-width:930px){
   .smart{
      background-position:bottom -1px right -40px;
   }
   .smart__services{
      padding-right: 102px;
      padding-left: 93px;
   }
}

@media(max-width:900px){
   .smart{
      background-position:bottom -1px right -76px;
   }
   .smart__services{
      padding-right: 70px;
   }
}

@media(max-width:860px){
   .smart{
      background-position:bottom -1px right -95px;
   }
   .smart__services{
      padding-right: 46px;
      padding-left: 76px;
   }

   .smart__title h2{
      font-size: 30px;
   }
   .smart__descr{
      font-size: 15px;
   }
}

@media(max-width:820px){
   .smart{
      background-position:bottom -1px right -127px;
   }
   .smart__services{
      padding-right: 21px;
      padding-left: 67px;
   }
}

@media(max-width:768px){
   .smart{
      background-position:bottom -1px right -141px;
   }
   .smart__services{
      padding-right: 7px;
      padding-left: 32px;
   }
}

@media(max-width:730px){
   .smart{
      background-size:857px 600px;
      background-position:bottom 85px right -63px;
   }
   .smart__services{
      padding-right: 32px;
      padding-left: 66px;
   }
   .smart__descr{
      margin-bottom: 176px;
   }
}

@media(max-width:690px){
   .smart{
      background-size:857px 600px;
      background-position:bottom 118px right -95px;
   }
   .smart__services{
      padding-right: 11px;
      padding-left: 66px;
   }
   .smart__descr{
      margin-bottom: 141px;
   }
}

@media(max-width:660px){
   .smart{
      background-size:811px 600px;
      background-position:bottom 118px right -84px;
   }
   .smart__services{
      padding-right: 9px;
      padding-left: 55px;
   }
   .smart__descr{
      margin-bottom: 141px;
   }
   .smart__title h2{
      font-size: 25px;
   }
}

@media(max-width:630px){
   .smart{
      background-size:779px 600px;
      background-position:bottom 165px right -78px;
   }
   .smart__services{
      padding-right: 9px;
      padding-left: 45px;
   }
   .smart__descr{
      margin-bottom: 122px;
   }
   .smart__title{
      margin-bottom: 6px;
   }
}

@media(max-width:600px){
   .smart__services{
      padding-right: 9px;
      padding-left: 17px;
   }
}

@media(max-width:550px){
   .smart{
      background-size:600px 600px;
      background-position:bottom 165px right -15px;
   }
   .smart__services{
      padding-right: 39px;
      padding-left: 45px;
   }
   .smart__descr{
      font-size: 10px;
      margin-bottom: 122px;
   }
   .smart__title{
      margin-bottom: 6px;
   }
   .smart__title h2{
      font-size: 15px;
   }
}

@media(max-width:500px){
   .smart{
      background-size:532px 600px;
      background-position:bottom 165px right -15px;
   }
   .smart__services{
      padding-right: 24px;
      padding-left: 45px;
   }
   .smart__descr{
      font-size: 10px;
      margin-bottom: 122px;
   }
   .smart__title{
      margin-bottom: 6px;
   }
   .smart__title h2{
      font-size: 15px;
   }
}

@media(max-width:450px){
   .smart{
      background-size:473px 600px;
      background-position:bottom 165px right -5px;
   }
   .smart__services{
      padding-right: 24px;
      padding-left: 45px;
      font-size: 10px;
   }
   .smart__descr{
      font-size: 10px;
      margin-bottom: 122px;
   }
   .smart__title{
      margin-bottom: 6px;
   }
   .smart__title h2{
      font-size: 15px;
   }
}

@media(max-width:415px){
   .smart{
      background-size:473px 600px;
      background-position:bottom 165px right -25px;
      .line{
         margin-right: 20px;
         margin-left: 20px;
      }
   }
   .smart__services{
      padding-right: 14px;
      padding-left: 28px;
      font-size: 10px;
   }
   .smart__descr{
      font-size: 10px;
      margin-bottom: 122px;
   }
   .smart__title{
      margin-bottom: 6px;
   }
   .smart__title h2{
      font-size: 15px;
   }
}

@media(max-width:380px){
   .smart{
      background-size:433px 480px;
      background-position:bottom 260px right -25px;
      .line{
         margin-right: 20px;
         margin-left: 20px;
      }
   }
   .smart__services{
      padding-right: 14px;
      padding-left: 28px;
      font-size: 10px;
   }
   .smart__descr{
      font-size: 10px;
      margin-bottom: 73px;
   }
   .smart__title{
      margin-bottom: 6px;
   }
   .smart__title h2{
      font-size: 15px;
   }
}

@media(max-width:360px){
   .smart{
      background-size:415px 480px;
      background-position:bottom 260px right -21px;
      .line{
         margin-right: 8px;
         margin-left: 8px;
      }
   }
   .smart__services{
      padding-right: 14px;
      padding-left: 12px;
      font-size: 10px;
   }
   .smart__descr{
      font-size: 10px;
      margin-bottom: 73px;
   }
   .smart__title{
      margin-bottom: 6px;
   }
   .smart__title h2{
      font-size: 15px;
   }
}

@media(max-width:329px){
   .smart{
      background-size:384px 480px;
      background-position:bottom 260px right -20px;
      .line{
         margin-right: 8px;
         margin-left: 8px;
      }
   }
   .smart__services{
      padding-right: 14px;
      padding-left: 12px;
      font-size: 10px;
   }
   .smart__descr{
      font-size: 10px;
      margin-bottom: 73px;
   }
   .smart__title{
      margin-bottom: 6px;
   }
   .smart__title h2{
      font-size: 12px;
   }
}

@media(max-width:320px){
   .smart{
      background-size:347px 480px;
      background-position:bottom 260px right -4px;
      .line{
         margin-right: 8px;
         margin-left: 8px;
      }
   }
   .smart__services{
      padding-right: 17px;
      padding-left: 10px;
      font-size: 10px;
   }
   .smart__descr{
      font-size: 10px;
      margin-bottom: 73px;
   }
   .smart__title{
      margin-bottom: 6px;
   }
   .smart__title h2{
      font-size: 12px;
   }
}