body{
    background-color: #1d1d1c;
    color:#fff;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 15px;
}

.second__container{
    max-width: 1053px;
    margin: 0 auto;
    padding: 0 15px;
}

.third__container{
    max-width: 1224px;
    margin: 0 auto;
    padding: 0 15px;
}

.line{
    height: 1px;
    width: 31px;
    background-color: #949494;
    margin-right: 17px;
    margin-left: 17px;
}